

.footer__social {
    display: flex;
    justify-content: space-around ;
    text-align: center;
}

.footer__logo{

}

.footer__about {

}

.footer__contact{

}

.footer__icons {
display: flex;
flex-direction: row;
}