@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Edu+VIC+WA+NT+Beginner&display=swap');
:root {
  /* Game Styling */
  --color-Header: #B8DBD9;
  --color-Body: #F4F4F9;
  --color-menuBar: #586F7C;
  --color-Button: #2F4550;
  --color-Footer: #000000;
  --color-shadow: hsl(0, 0%, 50%);

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




body {
  margin-top: 100px;
  background-color: var(--color-one);
  font-family: 'Edu VIC WA NT Beginner', Verdana, Geneva, Tahoma, sans-serif;
}

.css-mkazzp-MuiButtonBase-root-MuiButton-root {
  background-color: var(--color-menuBar) !important;

}