@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Montserrat+Alternates:wght@700&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

.css-najm9k-MuiTypography-root {
    font-family: "Montserrat Alternates" !important;
    font-size: 30px;
    font-weight: bolder;
}