@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Montserrat+Alternates:wght@700&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');


:root {
    /* Game Styling */
    --color-Header: #F9ECCC !important;
    --color-Body: #B5DDA4 !important;
    --color-menuBar: #4DAA57 !important;
    --color-Button: #587D71 !important;
    --color-Footer: #754668 !important;
    --color-shadow: hsl(0, 0%, 50%);

}
Toolbar {
    color: var(--color-Header);
}
.css-najm9k-MuiTypography-root {
    
    font-family: "Montserrat Alternates" !important;
    font-size: 30px;
    font-weight: bolder;
}